body{
    background-color: #767676;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px;
}


h1{
    text-align: center;
    color: rgb(24, 222, 236);
    font-size: 70px;
    font-family: cursive;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button{
    padding: 10px 30px 10px 30px;
    background-color: rgb(17, 192, 1);
    color: rgb(207, 233, 215);
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid rgb(235, 221, 221);
    border-radius: 8px;
}

button:hover{
    background-color: rgb(2, 124, 39);
}

h2{
    text-align: center;
    color: rgb(11, 245, 136);
    font-size: 40px;
}


@media (max-width: 900px) and (min-width: 600px) {
    section {
        flex-direction: row;
    }
    
    .first, .sec {
        flex: 1;
        margin: 20px;
    }
    
    img {
        height: 150px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.2rem;
    }
}


@media (max-width: 600px) {
    section {
        flex-direction: column;
    }

    .first, .sec {
        margin: 10px 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        height: 100px;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
